{% extends './base.html' %}


{% block sidebar %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/amazonSite/dashboard/">
              <span data-feather="home" class="align-text-bottom"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/amazonSite/shopping_mall/">
              <span data-feather="slack" class="align-text-bottom"></span>
              Shopping mall
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/amazonSite/cart/">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              Shopping cart
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/amazonSite/orders/">
              <span data-feather="file" class="align-text-bottom"></span>
              My orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/amazonSite/inventory/">
              <span data-feather="database" class="align-text-bottom"></span>
              Inventory
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/amazonSite/profile/">
              <span data-feather="users" class="align-text-bottom"></span>
              Profile
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>>
</div>>
{% endblock %}

{% block content %}

<style>
.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}
</style>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h1">My orders</h1>
    </div>
    <ul class="list-unstyled ps-0">
    {% for order, package_list in order_packages_dict.items %}
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#open-rides-collapse" aria-expanded="false">
        Order num: {{ order.order_num }}, Created time: {{ order.create_time }}
        </button>
        <div class="collapse show" id="open-rides-collapse">
          <div class="table-responsive">
            <table class="table table-striped table-sm" style="vertical-align: middle;">
              <thead>
                  <tr>
                    <th scope="col">Package ID</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Warehouse ID</th>
                    <th scope="col">Dest X</th>
                    <th scope="col">Dest Y</th> 
                    <th scope="col">Pack Time</th>
                    <th scope="col">UPS ID</th>
                    <th scope="col">Truck ID</th>
                    <th scope="col">Package Status</th>
                  </tr>
              </thead>
              <tbody>
                {% for package in package_list %}
                <tr>
                  <td>{{ package.package_id }}</td>
                  <td>{{ package.owner.id }}</td>
                  <td>{{ package.warehouse_id }}</td>
                  <td>{{ package.dest_x }}</td>
                  <td>{{ package.dest_y }}</td>
                  <td>{{ package.pack_time }}</td>
                  <td>{{ package.ups_id }}</td>
                  <td>{{ package.truck_id }}</td>
                  <td>{{ package.package_status }}</td>
                </tr>             
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li class="border-top my-3"></li>
    {% endfor %}
    </ul>
</main>

{% endblock %}

