{% extends './base.html' %}


{% block sidebar %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/amazonSite/dashboard/">
              <span data-feather="home" class="align-text-bottom"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/amazonSite/shopping_mall/">
              <span data-feather="slack" class="align-text-bottom"></span>
              Shopping mall
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ride/rideReq/">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              Shopping cart
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ride/user_rideInfo/">
              <span data-feather="file" class="align-text-bottom"></span>
              My orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/amazonSite/inventory/">
              <span data-feather="database" class="align-text-bottom"></span>
              Inventory
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/amazonSite/profile/">
              <span data-feather="users" class="align-text-bottom"></span>
              Profile
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>>
</div>>
{% endblock %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h1">Check or edit if you want</h1>
    </div>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;    
      }

    .button {
        background-color: #c2fbd7;
        border-radius: 100px;
        box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
        margin-top: 40px;
        background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
        color: #fff;
    }

    .button:hover {
        box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
    }

    </style>

    
    <!-- Custom styles for this template -->
    <link href="/static/css/checkout.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    
<div class="container">
<main>


    <div class="row g-5">
      
        <div class="col-md-5 col-lg-4 order-md-last">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="/static/images/email.gif" alt="" width="400" height="300">
                <p class="lead">Make sure to use a valid UPS id to bind your UPS account!</p>
            </div>
        </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Ride details</h4>
        <form class="needs-validation" action="/amazonSite/profile/" method="post" validate>
        {% csrf_token %}
        {% for message in messages%}
            <h6 class="h6" id="messages">{{message}}</h6>
        {% endfor %}
          <div class="row g-3">
            <div class="col-sm-4">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="" value="{{ user_name }}" readonly="true">
            </div>

            <div class="col-sm-4">
              <label for="fisrt_name" class="form-label">First name</label>
              <input type="text" class="form-control" id="fisrt_name" name="fisrt_name" placeholder="" value="{{ first_name }}" readonly="true">
            </div>

            <div class="col-sm-4">
              <label for="last_name" class="form-label">Last name</label>
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="" value="{{ last_name }}" readonly="true">
            </div>

            <div class="col-sm-6">
              <label for="ups_account" class="form-label">Your ups account</label>
              <input type="text" class="form-control" id="ups_account" name="ups_account"  placeholder="" value="{{ ups_account }}">
            </div>
            
            <div class="col-sm-6">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email"  placeholder="" value="{{ user_email }}">
            </div>

            <div class="col-sm-4">
              <label for="id_password_old" class="form-label">Your old password</label>
              <input type="password" class="form-control" id="id_password_old" name="password1"  placeholder="" value="">
            </div>

            <div class="col-sm-4">
              <label for="id_password_new1" class="form-label">Your new password</label>
              <input type="password" class="form-control" id="id_password_new1" name="password2"  placeholder="" value="">
            </div>

            <div class="col-sm-4">
              <label for="id_password_new2" class="form-label">Repeat your new password</label>
              <input type="password" class="form-control" id="id_password_new2" name="password3"  placeholder="" value="">
            </div>
          </div>

          <hr class="my-4">
          <button class="button" type="submit">Save changes</button>
        </form>
      </div>
    </div>
</main>

</div>


<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/static/bootstrap/js/checkout.js"></script>

{% endblock %}
